body{
    background-color: #000;
    color: #fff;
    background-image: url("../imagens/fundo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container{
    text-align: center;
    padding-left: 20px;
    height: 100vh;
}

.titulo{
    font-size: 30px;
    margin: 10px;
}